@import "tailwindcss";

@layer resets {

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    box-sizing: border-box;
  }
}

@theme {
  --color-background: #ffffff;
  --color-foreground: #111827;
  --color-primary-200: #312E81;
  --color-primary-600: #4F46E5;

  --spacing-wrapper-desktop: 1140px;
  --spacing-wrapper-mobile: 430px;

  --font-sans: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
}